:root {
  --font-pokemon: "Press Start 2P", system-ui, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-pokemon);
}

body {
  background-image:
    linear-gradient(rgba(2, 6, 23, 0.25), rgba(2, 6, 23, 0.25)),
    url("https://wallup.net/wp-content/uploads/2016/05/24/143432-nature-Pokemon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}