body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-principal{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contenido{
    flex: 1;
}
